body {
    height: 100vh;
    margin: 0;
    background: url(/images/thefloorisjelly.jpeg) no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;

}

.container {
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    padding: 200px;
    gap: 20px;

}

.user_op {
    display: flex;
    gap: 52px;



}

img {
    width: 100px;
    height: 100px;

}

.cards {
    width: 100px;




}

button {
    box-shadow: 5px 5px 0 #000;
    transition: translate box-shadow color .25s;
    font-size: medium;
    border-radius: 8px;
    padding: 5px;


}

button:hover {
    box-shadow: none;
    color: #000;
    translate: 5px 5px;
}